<div class="container-fluid">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <ul class="list-group">
            <h1>Viewing all Noticeboards</h1>
                <% @boards.each do |board| %>
                    <% unless board.archived?%>
                   <li class="list-group-item">
                      <%= link_to board.title, board%>
                   </li>
                    <%end%>
                <% end %>
            </ul>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
